<div>
    <div class="cart-header">
        <label class="cart-label">Cart</label>
    </div>
    <div class="row" style="margin-left: 0px; flex-wrap:nowrap;padding-top: 5px; justify-content: space-around;">
        
        <label>Table No.</label>
        <input  class="input"/>
        <label>Persons</label>
        <input class="input"/>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Waiter
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left: -98px;">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
       
    </div>
    <hr style="margin:0px;">
    <div style="height:32px; margin:4px 18px;" >
        <label>Customer Details</label>
    </div>
    <hr style="margin:0px;">
    <div class="row">
        <div class="col-6">
        <label>ITEMS</label>
        </div>
        <div class="col-3">
            <label>QTY</label>
          </div>
          <div class="col-3">
            <label>PRICE</label>
        </div>   
        </div>
        <hr style="margin:0px;">
    <div class="row">
        <div class="col-6">
        <label>ITEMS</label>
        </div>
        <div class="col-3">
            <label>QTY</label>
          </div>
          <div class="col-3">
            <label>PRICE</label>
        </div>   
        </div>
</div>
